@{
    ViewData["Title"] = "Home Page";
}


<h1 class="text-center d-none"> wellcom my page </h1>
<div class="container mt-5" id="login">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="tab-content">Login</h4>
                </div>
                <div class="card-body mt-3">
                    <form>
                        <div class="form-group">
                            <label for="username">Username:</label>
                            <input type="text" class="form-control" id="username" placeholder="Enter your username">
                        </div>
                        <div class="form-group mt-2">
                            <label for="password">Password:</label>
                            <input type="password" class="form-control" id="password" placeholder="Enter your password">
                        </div >
                        <button type="submit" class="btn btn-primary mt-3">Login</button>
                        <button type="submit" class="btn btn-primary mt-3 justify-content-end" id="registration">registration</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container registration1 d-none mt-5 " id="registration1">
    <div class="row" >
        <div class="col-md-6">
            <label for="lastname"> last name:</label>
            <input type="text" class="form-control" id="lastname" placeholder="Enter your lastname">
        </div>

            <div class="col-md-6">
            <label for="lastname"> last name:</label>
            <input type="text" class="form-control" id="lastname" placeholder="Enter your lastname">
            </div>
    </div>

    <div class="form-group mt-3 ">
        <label for="mobilenumber"> mobile number :</label>
        <input type="text" class="form-control" id="mobilenumber" placeholder="Enter your mobile number">
    </div>

    <div class="form-group mt-3 ">
        <label for="Email"> Email :</label>
        <input type="Email" class="form-control" id="Email" placeholder="Enter your Email">
    </div>


<div class="form-group mt-3">
    <label for="new-password">new Password:</label>
    <input type="password" class="form-control" id="newpassword" placeholder="Enter your new password">
</div>

<div class="form-group mt-3">
    <label for="conform-password">conform Password:</label>
    <input type="password" class="form-control" id="newpassword" placeholder="Enter your conform password">
</div>
<button type="submit" class="btn btn-primary mt-3">submit</button>


</div>


